<section class="skills section" id="skills">
  <h2 class="section__title">Skills</h2>
  <span class="section__subtitle">Click to see my skills</span>

  <mat-accordion class="skills__container">
    <mat-expansion-panel *ngFor="let category of skillCategories" [expanded]="category.expanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>{{ category.icon }}</mat-icon> &nbsp; {{ category.title }}
        </mat-panel-title>
        <mat-panel-description>{{ category.description }}</mat-panel-description>
      </mat-expansion-panel-header>

      <div class="skills__list">
        <mat-chip-set>
          <mat-chip *ngFor="let skill of category.skills">{{ skill }}</mat-chip>
        </mat-chip-set>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>
