<section class="home section" id="home">
  <div class="home__container container">
    <div class="home__content">
      <!-- IMMAGINE / SVG -->
      <div class="home__img">
        <svg
          class="home__blob"
          viewBox="0 0 200 187"
          xmlns="http://www.w3.org/2000/svg"
        >
          <mask id="mask0" mask-type="alpha">
            <path
              d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547
         130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775
         97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666
         0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
              fill="white"
            ></path>
          </mask>

          <g mask="url(#mask0)">
            <path
              d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346
         165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403
         129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028
         -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
              fill="hsl(330, 100%, 50%)"
            ></path>

            <image
              class="home__blob-img"
              x="15"
              y="15"
              xlink:href="assets/img/prf.png"
              width="170"
              height="170"
            />
          </g>
        </svg>
      </div>

      <!-- TESTO -->
      <div class="home__data">
        <h1 class="home__title">{{ presentation?.title }}</h1>
        <h3 class="home__subtitle">{{ presentation?.subtitle }}</h3>
        <p class="home__description">
          {{ presentation?.text }}
        </p>
        <div class="contact-scroll-container">
          <app-button [text]="buttonContactText" (click)="openDialog()"></app-button>
          <div class="home__scroll">
            <button
              class="home__scroll-button no-link-style"
              (click)="scrollTo('footer')"
            >
              <i class="uil uil-mouse-alt home__scroll-mouse"></i>
              <span class="home__scroll-name">{{
                presentation?.scrollText
              }}</span>
              <i class="uil uil-arrow-down home__scroll-arrow"></i>
              <!-- <mat-icon>
                <span class="material-symbols-outlined">arrow_downward</span>
              </mat-icon> -->
            </button>
          </div>
        </div>
      </div>
    </div>
    <app-preview-dialog
      *ngIf="showDialog"
      [visible]="true"
      [card]="null"
      (close)="closeDialog()"
    >
      <div class="dialog-buttons">
        <div class="button-group">
          <app-button
            [isLink]="true"
            icon="uil uil-phone"
            href="tel:+393343819116"
            text="Call me"
            variant="light"
          ></app-button>

          <app-button
            [isLink]="true"
            icon="uil uil-whatsapp"
            href="https://wa.me/+393343819116?text=Hi, I found your contact through your landing page. I would like more information."
            text="Send message"
            variant="light"
          ></app-button>

          <app-button
            [isLink]="true"
            icon="uil uil-envelope"
            href="mailto:donato.bello101@gmail.com"
            text="Send email"
            variant="light"
          ><i class="uil uil-whatsapp"></i></app-button>
        </div>
      </div>
    </app-preview-dialog>
  </div>
</section>
