<!-- <div *ngIf="visible" class="overlay" (click)="onOverlayClick()">
  <mat-card class="qualification-item modal-card" (click)="onCardClick($event)">
    <mat-card-title>{{ card?.title }}</mat-card-title>
    <p>{{ card?.subtitle }}</p>
    <mat-card-content>
      <p>{{ card?.text }}</p>
    </mat-card-content>
    <div class="preview-action-row">
      <button mat-button color="primary" (click)="close.emit()">Chiudi</button>
    </div>
  </mat-card>
</div>
 -->

 <div *ngIf="visible" class="overlay" (click)="onOverlayClick()">
  <mat-card class="qualification-item modal-card" (click)="onCardClick($event)">
    <mat-card-title *ngIf="card?.title">{{ card?.title }}</mat-card-title>
    <p *ngIf="card?.subtitle">{{ card?.subtitle }}</p>
    <mat-card-content>
      <p *ngIf="card?.text">{{ card?.text }}</p>

      <ng-content></ng-content>
    </mat-card-content>

    <div class="preview-action-row">
      <button mat-button color="primary" (click)="close.emit()">Chiudi</button>
    </div>
  </mat-card>
</div>
