<mat-toolbar id="navbar" color="primary" class="app-toolbar">
  <img
    src="../../../../assets/img/logo.png"
    alt="Logo"
    class="logo-img clickable-logo"
    tabindex="0"
    role="button"
    (click)="scrollToSection('home')"
    (keydown.enter)="scrollToSection('home')"
  />

  <!-- <button mat-icon-button class="custom-logo" (click)="scrollToSection('home')">
    <span class="logo-text">DB</span>
  </button> -->

  <span class="spacer"></span>

  <!-- Desktop actions -->
  <div class="desktop-actions desktop-only">
    <ng-container *ngFor="let section of sections">
      <button mat-button (click)="scrollToSection(section.id)">
        {{ section.label }}
      </button>
    </ng-container>
  </div>

  <!-- Mobile/tablet menu icon -->
  <button
    mat-icon-button
    class="menu-button hide-on-desktop"
    [matMenuTriggerFor]="menu"
    aria-label="Menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Mobile menu -->
  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let section of sections">
      <button mat-menu-item (click)="scrollToSection(section.id)">
        <mat-icon>{{ section.icon }}</mat-icon>
        <span>{{ section.label }}</span>
      </button>
    </ng-container>
  </mat-menu>
</mat-toolbar>
