.qualification-item {
  max-width: 500px;
  width: 100%;
  background: hsla(330, 100%, 45%, 0.08);
  border: 1px solid hsla(330, 100%, 45%, 0.2);
  border-radius: 12px;
  padding: 1.5rem;

  .mat-card-title {
    font-size: 1rem;
    font-weight: 600;
    color: #222;
  }

  .subtitle {
    font-size: 0.9rem;
    margin: 1rem;
    color: rgba(0, 0, 0, 0.7) !important;
  }

  mat-icon {
    font-size: 1rem;
    margin-right: 0.3rem;
    color: hsl(330, 100%, 45%);
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    height: 1em;
  }

  mat-card-content {
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.85) !important;

    p {
      max-width: 100%;
      margin: 0 auto;
      line-height: 1.6;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .preview-action-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;

    button {
      color: hsl(330, 100%, 45%);
      background-color: transparent;
      box-shadow: none;
      border: none;
      padding: 0;
      min-width: 32px;
      min-height: 32px;

      mat-icon {
        font-size: 1.25rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 480px), (min-width: 481px) {
  .qualification-item {
    max-width: 100%;
  }
}
